/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card img {
  height: 200px;
  object-fit: contain;
}

.card-body {
  background-color: rgb(66, 129, 73);
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  background-color: white;
  padding: 10px;
  overflow:hidden;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%;
  margin-right: ;
}

.card-remove-link {
  color: red;
  border-radius: 50%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
    background-color: red;
  }
}
